<div class='panel panel-primary'>
    <div class='panel-heading'>
        Employee Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addEmployee()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='employees && employees.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='employees && employees.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Company ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.EmployeeId}}</td>
                        <td>{{employee.Name}}</td>
                        <td>{{employee.Salary}}</td>
                        <td>{{employee.CompanyId}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editEmployee(employee.EmployeeId)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteEmployee(employee.EmployeeId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(employeeFrm)" [formGroup]="employeeFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Name*</span>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="Name">
                </div>
                <div>
                    <span>Salary*</span>
                    <input type="text" class="form-control" placeholder="Salary" formControlName="Salary">
                </div>
                <div>
                    <span>Company ID*</span>
                    <input type="text" class="form-control" placeholder="Company ID" formControlName="CompanyId">
                </div>
                <div>
                    <span>Company</span>
                    <select formControlName="Company" class="form-control">
                        <option *ngFor="let company of companies">{{company.Name}}</option>
                    </select>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="employeeFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>